# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Module Import and Setup
import pandas as pd
from pathlib import Path


# Files to Load
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data Files and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].count()
school_count

15

In [3]:
# Calculate the total number of students
#school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
#school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
#school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
#passing_math_percentage = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['student_name'].count()/student_count*100
#passing_math_percentage


#passing_math_count = school_data_complete([school_data_complete["math_score"] >= 70])
#passing_math_percentage = passing_math_count / student_count * 100
#passing_math_percentage

school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
#passing_reading_count = school_data_complete[
    #school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()
#passing_reading_percentage = passing_reading_count /student_count*100
#passing_reading_percentage

#passing_reading_count = len(school_data_complete[school_data_complete["reading_score"] >= 70])
#passing_reading_percentage = passing_reading_count / student_count * 100
#passing_reading_percentage

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading

passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["Student ID"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": passing_math_percentage,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": overall_passing_rate}, index = [0]) 
   
# Formatting
#district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,.2f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.6f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.5f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.6f}".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.6f}".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.6f}".format)


# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [12]:
# Use the code provided to select all of the school types
school_types = school_data.set_index('school_name')['type']

summary_school_types = pd.DataFrame({
    'School Type': school_types
    })
summary_school_types[['School Type']]

summary_school_types
#school_types

                      School Type
school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter

In [13]:
# Calculate the total student count per school
per_school_counts = student_data.groupby('school_name')['student_name'].count().map("{:,}".format)

total_student_summary = pd.DataFrame({
    'School Type': school_types,
    'Total Students': per_school_counts
})
total_student_summary[['School Type',
                       'Total Students']]

total_student_summary

                      School Type Total Students
school_name
Bailey High School       District          4,976
Cabrera High School       Charter          1,858
Figueroa High School     District          2,949
Ford High School         District          2,739
Griffin High School       Charter          1,468
Hernandez High School    District          4,635
Holden High School        Charter            427
Huang High School        District          2,917
Johnson High School      District          4,761
Pena High School          Charter            962
Rodriguez High School    District          3,999
Shelton High School       Charter          1,761
Thomas High School        Charter          1,635
Wilson High School        Charter          2,283
Wright High School        Charter          1,800

In [30]:
# Calculate the total school budget and per capita spending per school

per_school_budget = school_data.groupby('school_name')['budget'].sum().map("${:,.2f}".format)

per_school_capita = per_school_budget / per_school_counts
#per_school_capita = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
#per_school_capita = per_school_capita.map("${:,.2f}".format)

summary_budget_capita = pd.DataFrame({
    'School Type': school_types,
    'Total School Budget': per_school_budget,
    'Total Student Budget': per_school_capita
})

summary_budget_capita[['School Type',
                       'Total School Budget',
                       'Total Student Budget']]

summary_budget_capita

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [15]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

summary_averages = pd.DataFrame({
    'School Type': school_types,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading
})

summary_averages = summary_averages[['School Type',
                                     'Average Math Score',
                                    'Average Reading Score']]

summary_averages

                      School Type  Average Math Score  Average Reading Score
school_name
Bailey High School       District           77.048432              81.033963
Cabrera High School       Charter           83.061895              83.975780
Figueroa High School     District           76.711767              81.158020
Ford High School         District           77.102592              80.746258
Griffin High School       Charter           83.351499              83.816757
Hernandez High School    District           77.289752              80.934412
Holden High School        Charter           83.803279              83.814988
Huang High School        District           76.629414              81.182722
Johnson High School      District           77.072464              80.966394
Pena High School          Charter           83.839917              84.044699
Rodriguez High School    District           76.842711              80.744686
Shelton High School       Charter           83.359455              83.725724
Thomas High School        Charter           83.418349              83.848930
Wilson High School        Charter           83.274201              83.989488
Wright High School        Charter           83.682222              83.955000

In [16]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_students_passing_math = students_passing_math.groupby(['school_name'])['math_score'].count().map("{:,}".format)

school_students_passing_math = pd.DataFrame({
    'School Type': school_types,
    'Number of Students with Math Scores >=70': school_students_passing_math,
})

school_students_passing_math[['School Type',
                                     'Number of Students with Math Scores >=70'
                                     ]]

school_students_passing_math

                      School Type Number of Students with Math Scores >=70
school_name
Bailey High School       District                                    3,318
Cabrera High School       Charter                                    1,749
Figueroa High School     District                                    1,946
Ford High School         District                                    1,871
Griffin High School       Charter                                    1,371
Hernandez High School    District                                    3,094
Holden High School        Charter                                      395
Huang High School        District                                    1,916
Johnson High School      District                                    3,145
Pena High School          Charter                                      910
Rodriguez High School    District                                    2,654
Shelton High School       Charter                                    1,653
Thomas High School        Charter                                    1,525
Wilson High School        Charter                                    2,143
Wright High School        Charter                                    1,680

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = (school_data_complete[school_data_complete['reading_score'] >= 70])
school_students_passing_reading = students_passing_reading.groupby(['school_name'])['reading_score'].count().map("{:,}".format)


school_students_passing_reading = pd.DataFrame({
    'Number of Students with Reading Scores >=70': school_students_passing_reading,
})

school_students_passing_reading[['Number of Students with Reading Scores >=70'
                                     ]]

school_students_passing_reading

                      Number of Students with Reading Scores >=70
school_name
Bailey High School                                          4,077
Cabrera High School                                         1,803
Figueroa High School                                        2,381
Ford High School                                            2,172
Griffin High School                                         1,426
Hernandez High School                                       3,748
Holden High School                                            411
Huang High School                                           2,372
Johnson High School                                         3,867
Pena High School                                              923
Rodriguez High School                                       3,208
Shelton High School                                         1,688
Thomas High School                                          1,591
Wilson High School                                          2,204
Wright High School                                          1,739

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(['school_name'])['student_name'].count().map("{:,}".format)

school_students_passing_math_and_reading = pd.DataFrame({
    'School Type': school_types,
    'Number of Students with Reading and Math Scores >=70': school_students_passing_math_and_reading,
})

school_students_passing_math_and_reading[['School Type',
                                     'Number of Students with Reading and Math Scores >=70'
                                     ]]

school_students_passing_math_and_reading

,School Type,Number of Students with Reading and Math Scores >=70
school_name,,
Bailey High School,District,"2,719"
Cabrera High School,Charter,"1,697"
Figueroa High School,District,"1,569"
Ford High School,District,"1,487"
Griffin High School,Charter,"1,330"
Hernandez High School,District,"2,481"
Holden High School,Charter,381
Huang High School,District,"1,561"
Johnson High School,District,"2,549"
Pena High School,Charter,871
Rodriguez High School,District,"2,119"
Shelton High School,Charter,"1,583"
Thomas High School,Charter,"1,487"
Wilson High School,Charter,"2,068"
Wright High School,Charter,"1,626"

In [26]:
# Use the provided code to calculate the passing rates

per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [28]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: 2

## Highest-Performing Schools (by % Overall Passing)

In [29]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

top_schools.head(5)

NameError: name 'per_school_summary' is not defined

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True) #'True' is ascending sorting

bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(['school_name'])['math_score'].mean()
tenth_grader_math_scores = tenth_graders.groupby(['school_name'])['math_score'].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(['school_name'])['math_score'].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(['school_name'])['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_math_scores,
    '10th': tenth_grader_math_scores,
    '11th': eleventh_grader_math_scores,
    '12th': twelfth_grader_math_scores
    })

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(['school_name'])['reading_score'].mean()
tenth_grader_reading_scores = tenth_graders.groupby(['school_name'])['reading_score'].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby(['school_name'])['reading_score'].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby(['school_name'])['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade_reading_scores,
    '10th': tenth_grader_reading_scores,
    '11th': eleventh_grader_reading_scores,
    '12th': twelfth_grader_reading_scores
    })

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels, right=False)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary